# Day-1

## How to use jupyter-notebook

#### Enter your code in this cell and press SHIFT + ENTER

In [1]:
4 + 5

9

## Data types and variables

Variable is just like as in mathematics.<br>
Variable is something which can store value in it.<br> 
<i><b>'able to be changed or adapted'</b></i>.

x <-- 2, means x contain 2 as a number

In [2]:
# we can perform the same basic maths operation also
x = 2
y = 3
x+y

5

#### What is Data types?
> Data types are the classification or categorization of data items.

### 1. Numeric data types:
##### Integer, Float, Complex Numbers

In [3]:
# Example of an integer (int for short) data type
x = 3

# You can check the types of any data by using type()
type(x)

int

In [5]:


x = 148345955
type(x)

int

In [7]:
# Example of an Float data type
# Float value are just the real number represented using DECIMAL

f = 3.5
type(f)

float

In [8]:
# Example of an Complex data type
c = 3 + 5j
type(c)

complex

### Boolean data types

>One of the important data type in python<br>
Its has only two values just like your answer to your teacher.
<br>
<i>yes sir, no sir

In [11]:
Y = True    # Note that, since python is case sensative language, "T" is capital in 'True'
type(Y)

bool

In [12]:
x = False + False
x

0

In [13]:
type(x)

int

Isn't it funny.... when you add two boolean data type it converts into integer!!!

In [14]:
# Let us check another such example
y = False + True
y

1

Actually, python has inbuilt property known as type casting
that is, it convert one data type to another data type.

In [16]:
x = 1     # integer
y = 1.5   # float
x = x + y 
x

2.5

In [17]:
type(x)

float

In [19]:
# Similarly with complex numbers
c = 5 + 3j
f = 4.5
c = c+f
c

(9.5+3j)

In [20]:
type(c)

complex

##### External type casting

In [22]:
x = int(3.5)
x

3

In [23]:
type(x)

int

We will learn more about this type casting in our later sessions

## Sequence Type
>1. String
2. List
3. Tuple

## String Data type

A string a series of alphaNumeric characters.<br>
Now, what is <i>alphaNumeric</i>?<br>
<pre>       Alpha - any alphabets or character on your keyboard
       Numeric - any number</pre>
A string value can be represented with inverted comma(s).

In [24]:
s = 'Siddhesh'
s

'Siddhesh'

In [25]:
type(s)

str

In [26]:
# You can use either "" or ''
s = "Jain"
s

'Jain'



    How to assign the inverted commas in the string

In [29]:
f = "siddhesh's"
f

"siddhesh's"

In [30]:
s = 'siddhesh" jain'
s

'siddhesh" jain'

In [32]:
# you can also use ''' ''' for any paragraph like string
para = '''Hello, hackers!
I am inside your computers!!
'''

para

'Hello, hackers!\nI am inside your computers!!\n'

    Now what is this '\n' in the string, we didn't write it.<br>
This '\n' is known as <b>ESCAPE CHARACTES</b><br>
* \n represent new line
* \t represent tab space

In [38]:
int_copy = int

## DON'T USE THE RESERVED WORDS AS YOUR VARIABLES

   You are told not to use the reserved words but <b>you have used it</b> so what?

In [39]:
int = 5
int

5

In [40]:
# Now we need to convert some float number into integer

int(4.56)

TypeError: 'int' object is not callable

In [41]:
int = int_copy

In [42]:
int(4.56)

4

### How to access the value of any string character
since we know that strings are the sequence data types

In [158]:
s = 'Siddhesh'

In [44]:
s[5]

'e'

<pre>0 1 2 3 4 5 6 7
| | | | | | | |
S i d d h e s h</pre>
<br>
This numbering of elements is known as indexing.<br>
Indexing starts from (number) 0 and increase so on.

### String Operations
1. Concatenate (+)
2. Multiply (*)
3. Slicing ([:])
4. 'in' and 'not in'

In [160]:
# Concatenate : add two strings one after other 
# Just like TRAIN K DIBBE

In [45]:
string1 = 'Siddhesh'
string2 = '_dosi'
string1 + string2

'Siddhesh_dosi'

In [46]:
# Multiply
# Concatenates multiple copies of the same string

In [49]:
string = 'hello'   # i have added an extra space at the end
string

'hello'

In [50]:
string*5

'hellohellohellohellohello'

In [165]:
# Slicing
# cutting a string into a substring

In [51]:
string = 'Spiderman'
string[3:8]       # staring implicit ending explicit

'derma'

In [167]:
# we can also slice a string from either of the extreams

In [52]:
#         0123456 89....
string = 'charles xavier'
string[8:]

'xavier'

In [54]:
# in and not in

'x' in string   # string contains 'x' as an element in 'charles xavier'

True

In [55]:
'xc' in string

False

#### Type casting in string
Does type casting can be possible in strings too?
    --Yes

In [56]:
s = '45435'
x = int(s)
x

45435

In [57]:
type(x)

int

In [58]:
# reverse can also be true
f = 434.545
s = str(f)
s

'434.545'

In [59]:
type(s)

str

## String formatting

#### Using format specifier %
       %d - integer
       %f - float
       %s - string

In [60]:
x = 5
f = 5.5
string = 'Ethan hunt'

In [61]:
new_string = 'Integer Number = %d, Float = %f, String = %s '%(x,f,string)
new_string

'Integer Number = 5, Float = 5.500000, String = Ethan hunt '

In [62]:
# Mis match type specifier
new_string1 = 'Integer Number = %d, Float = %f, String = %s '%(x,string, f)
new_string1

TypeError: must be real number, not str

###### Specifying the width of the variable
<br>
%nd -- here n define the minimum width of the string formatted

In [63]:
'%8d'%4

'       4'

In [64]:
a = '%8.2f'%54.6464554
a
# width - 8
# digits after decimal - 2 (including in width)

'   54.65'

In [65]:
len(a)   # Tip : len() is used to find the length of any sequence data types

8

In [67]:
s = '%15s'%'siddhesh'
s

'       siddhesh'

In [68]:
len(s)

15

In [70]:
# For the left side alignment of the string
'%-8s'%'Hii'

'Hii     '

##### format()

In [71]:
name = 'Captain'
mood = 'angry'
"That's my secret {} I'm always {}".format(name, mood)

"That's my secret Captain I'm always angry"

In [73]:
# you can add precision as 
'{:8.3f}'.format(2.4)

'   2.400'

## Some of the string operations
1. capitalize()
2. title()
3. upper()
4. lower()
5. count()
6. isalpha()
7. isdigit()
8. isnumerical()

In [74]:
string = 'to the outside world i am an ordinary forensic scientist 546'
string2 = 'but secretly I use my speed to fight crime and find others like me'

In [75]:
string.capitalize()

'To the outside world i am an ordinary forensic scientist 546'

In [76]:
string2.title()

'But Secretly I Use My Speed To Fight Crime And Find Others Like Me'

In [77]:
'45'.isnumeric()

True

In [78]:
'54ef'.isalnum()

True

# List - 
Collection of element of different or same data types

In [80]:
lst = ['BB',45, 'Carry', 62.22, 'BYN', 11, 'TVF', 52.3, 'AIB', True]
lst

['BB', 45, 'Carry', 62.22, 'BYN', 11, 'TVF', 52.3, 'AIB', True]

In [81]:
lst[3]

62.22

In [82]:
type(lst[3])

float

In [83]:
lst[5:]

[11, 'TVF', 52.3, 'AIB', True]

In [86]:
# list index out of range
lst[10]

IndexError: list index out of range

In [88]:
del lst
lst

NameError: name 'lst' is not defined

Note : string functions can be used on list as well <br>
> concatenation, multiplication, slice, in , not in

#### Built-in list functions
###### max(), min(),  len(),  append(),  insert(), remove(), pop(), revrse(), sort(), sorted(), list()

In [96]:
l = [4,1,4,52,-1]
max(l)

52

In [97]:
min(l)

-1

In [98]:
len(l)

5

In [99]:
l

[4, 1, 4, 52, -1]

In [100]:
l.append('Berry Allen')    # adds the passed string to the end of the list
l

[4, 1, 4, 52, -1, 'Berry Allen']

In [101]:
l.remove(4)        # removes the first appearance of the element passed in
l

[1, 4, 52, -1, 'Berry Allen']

In [103]:
# remove returns error if element not exist
l.remove('Strange')

ValueError: list.remove(x): x not in list

In [104]:
a = l.pop()   # pop out the last element of the list
l

[1, 4, 52, -1]

In [105]:
a

'Berry Allen'

In [106]:
l.sort()
l

[-1, 1, 4, 52]

In [107]:
l.reverse()
l

[52, 4, 1, -1]

       difference between sort() and sorted()

In [108]:
a = [4,2,5,7,8,0,1]
b = sorted(a)
b

[0, 1, 2, 4, 5, 7, 8]

In [109]:
a   # a doesn't changed

[4, 2, 5, 7, 8, 0, 1]

In [111]:
b = a.sort()
b            # no output

In [112]:
a

[0, 1, 2, 4, 5, 7, 8]

## Conversion of list to string and vice-versa

In [113]:
s = 'Hermione Harry Ron Hagrid'
characters = s.split(' ')
characters

['Hermione', 'Harry', 'Ron', 'Hagrid']

In [114]:
'-'.join(characters)

'Hermione-Harry-Ron-Hagrid'

## tuple ; immutable 
can not be modified

In [117]:
t = (1,2,'hi')
t

(1, 2, 'hi')

In [118]:
type(t)

tuple

In [120]:
t[1] = '5'

TypeError: 'tuple' object does not support item assignment

Note : string functions can be used on tuple as well <br>
> concatenation, multiplication, slice, in , not in

In [121]:
t = t+t
t

(1, 2, 'hi', 1, 2, 'hi')

## set
it is not an ordered data type
suitable methods to perform mathematical set operations like union, intersection, difference, etc.

In [122]:
s = {3,6,4,6,3,4,6,3}
s

{3, 4, 6}

In [123]:
type(s)

set

In [124]:
l

[52, 4, 1, -1]

In [125]:
l.append(-1)
l.append(4)
l

[52, 4, 1, -1, -1, 4]

In [126]:
s1 = set(l)
s1

{-1, 1, 4, 52}

In [128]:
s1[0]

TypeError: 'set' object is not subscriptable

In [129]:
s+s

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [130]:
s.union(s1)

{-1, 1, 3, 4, 6, 52}

In [231]:
s.intersection(s1)   # elements common in both

{4}

In [232]:
s.difference(s1)   # elements in s but not in s1

{3, 6}

### If set is immutable then how to modify it?

In [131]:
s

{3, 4, 6}

In [132]:
s.add('Trump')
s

{3, 4, 6, 'Trump'}

In [133]:
lst = ['Donuld', 'Barak']
s.update(lst)
s

{3, 4, 6, 'Barak', 'Donuld', 'Trump'}

In [134]:
s.remove(3)
s

{4, 6, 'Barak', 'Donuld', 'Trump'}

In [135]:
s.clear()
s

set()

### Dictionary
###### It is not an ordered sequence, and it contains key-value pairs.

In [136]:
salary = {'Siddhesh': '59k',
          'Rohit': '45k',
          'Mihir': '38K'}
salary

{'Siddhesh': '59k', 'Rohit': '45k', 'Mihir': '38K'}

In [137]:
salary['Rohit']

'45k'

### Note
The key should be an immutable object. A number, string or tuple can be used as key.
A dictionary with a list as a key is not valid, as the list is mutable.

In [138]:
cars = {['Benz', 'Maruti'] : 4}

TypeError: unhashable type: 'list'

#### Accessing a Dictionary

In [139]:
salary['Siddhesh']

'59k'

In [140]:
# But this method has some limitations as if the key is not present then it will raise an error

In [141]:
salary['Mohit']

KeyError: 'Mohit'

In [142]:
salary.get('Rohit','Not present')

'45k'

In [144]:
salary.get('Mohit','Not present')

In [247]:
# the second argument is completely optional, you can omit it

### Updating dict

In [145]:
salary['Mohit'] = '44k'

In [146]:
salary

{'Siddhesh': '59k', 'Rohit': '45k', 'Mihir': '38K', 'Mohit': '44k'}

### keys() and values()

In [147]:
salary.keys()

dict_keys(['Siddhesh', 'Rohit', 'Mihir', 'Mohit'])

In [148]:
salary.values()

dict_values(['59k', '45k', '38K', '44k'])

In [255]:
salary.items()

dict_items([('Siddhesh', '59k'), ('Rohit', '45k'), ('Mihir', '38K'), ('Mohit', '44k')])

In [150]:
s = salary.items()

dict_items