## Python Lists

In [18]:
basket = []

#### Insertion in List

In [19]:
basket.append('Apple') 
basket.append('Banana')
# Append adds the element at the end of the list

In [20]:
basket

['Apple', 'Banana']

In [21]:
basket.insert(1,'Lichi')      #list.insert(index, element) -  add another element to the list at the given index

In [22]:
basket

['Apple', 'Lichi', 'Banana']

In [23]:
veggies = ['Tomato','Spinach']

In [24]:
basket.extend(veggies) #list.extend(list2) adds the elements in list2 to the end of the list

In [25]:
basket

['Apple', 'Lichi', 'Banana', 'Tomato', 'Spinach']

In [26]:
 basket+=veggies

In [27]:
basket

['Apple', 'Lichi', 'Banana', 'Tomato', 'Spinach', 'Tomato', 'Spinach']

In [28]:
basket.index('Banana') #searches for the given element from the start of the list and returns its index.

2

In [29]:
basket.index('Spinach')

4

In [30]:
basket.remove('Banana')

In [31]:
basket

['Apple', 'Lichi', 'Tomato', 'Spinach', 'Tomato', 'Spinach']

In [32]:
basket.remove('Tomato')

In [33]:
basket

['Apple', 'Lichi', 'Spinach', 'Tomato', 'Spinach']

In [35]:
b=basket.pop() #extracts the last element from list

In [36]:
b

'Tomato'

In [37]:
nums = [3,7,5,1,11]

In [38]:
basket.sort() #In-Place

In [39]:
basket

['Apple', 'Lichi', 'Spinach']

In [42]:
s = sorted(nums) #returns A sorted Array

In [43]:
s

[1, 3, 5, 7, 11]

In [44]:
nums

[3, 7, 5, 1, 11]

In [45]:
len(basket)

3

In [46]:
for i in nums:
    print(i)

3
7
5
1
11

In [81]:
for i in range(len(nums)):
    print(i,nums[i])

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20
10 22
11 24
12 26
13 28
14 30
15 32
16 34
17 36
18 38
19 40
20 42
21 44
22 46
23 48

In [82]:
for i,j in enumerate(sorted(nums)):
    print(i+1,j,sep=" : ")
#Used to iterate in a way that the fiirst variable iterates on index and second on value itself

1 : 2
2 : 4
3 : 6
4 : 8
5 : 10
6 : 12
7 : 14
8 : 16
9 : 18
10 : 20
11 : 22
12 : 24
13 : 26
14 : 28
15 : 30
16 : 32
17 : 34
18 : 36
19 : 38
20 : 40
21 : 42
22 : 44
23 : 46
24 : 48

In [59]:
[ i for i in range(2,21,2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [79]:
sqs = [i*i for i in range(1,10)]

In [80]:
sqs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
x = lambda i: i*10

In [66]:
x(5)

50

In [67]:
x(2)

20

In [69]:
list(map(x,range(10)))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [70]:
s = "It's Fun Learning Python"

In [72]:
l=s.split()

In [73]:
l

["It's", 'Fun', 'Learning', 'Python']

In [74]:
x=lambda i: len(i)

In [77]:
list(map(x,s.split()))

[4, 3, 8, 6]

In [8]:
l = [1,2,3]
l.count(1)

1